<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dji.sampleV5.aircraft">

    <application
        android:name=".DJIAircraftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name_aircraft"
        android:requestLegacyExternalStorage="true"
        android:extractNativeLibs="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".DJIAircraftMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/full_screen_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsbAttachActivity"
            android:exported="true"
            android:theme="@style/translucent_theme">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>

        <activity
            android:name="dji.v5.ux.sample.showcase.defaultlayout.DefaultLayoutActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/full_screen_theme" />
        <activity
            android:name="dji.v5.ux.sample.showcase.widgetlist.WidgetsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/full_screen_theme" />
        <activity
            android:name=".AircraftTestingToolsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/full_screen_theme"
            android:windowSoftInputMode="adjustPan" />

        <!-- Maplibre API Key -->
        <meta-data
            android:name="com.dji.mapkit.maplibre.apikey"
            android:value="${MAPLIBRE_TOKEN}" />
        <!-- DJI API Key -->
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="${API_KEY}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- API Server -->
        <service
            android:name="com.kcg.dr.api.ApiServerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.INTERNET">
        </service>
        <!-- Earphone Tap Input -->
        <service
            android:name="com.kcg.dr.voice.AudioControlService"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="${GMAP_API_KEY}" />

    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" /> <!-- 自安装使用 Self-installation and use -->

    <!-- Permissions -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- Google Maps -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> -->
    <!-- <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>